<!---
<?xml version="1.0"?>
<initvals>
	<defaults>
		<apptitle>CFBible</apptitle>
		<appnamespace>http://cfbible.vaporware-inc.com/</appnamespace>
		<adminemail>sid@vaporware-inc.com</adminemail>
		<appdsn>CFBIBLE</appdsn>
		<mailserver>mail.vaporware-inc.com</mailserver>
		<mailport>25</mailport>
		<ErrorEmail>sid@vaporware-inc.com</ErrorEmail>
		<ErrorSubject>CFB: Error Report</ErrorSubject>
		<webroot>http://cfbible.vaporware-inc.com/</webroot>
		<reinitkey>CFBR0cks!</reinitkey>
		<failkey>asjhgfsjgfdasjhgdfg</failkey>
		<version>0.0.2</version>
	</defaults>  
</initvals>
--->
